<div class="main">
    <div class="contenedor">
        <div class="dashboard">
            <app-welcome></app-welcome>
        </div>
        <div class="contenedor-contenido">
            <div class="grafico">
                <div class="grafico-descripcion">
                    <div class="titulo">
                        <h1>Estado de Ordenes</h1>
                    </div>
                    <div class="cuadrado">
                        <app-grafico-ordenes></app-grafico-ordenes>
                    </div>
                </div>
                <div class="grafico-descripcion">
                    <div class="titulo">
                        <h1>Estado de Infraestructura</h1>
                    </div>
                    <div class="cuadrado">
                        <app-grafico-ordenes></app-grafico-ordenes>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="calendario">
        <app-calendario></app-calendario>
    </div>
</div>
