<div class="dashboard">
    <div class="welcome">
        <span>Bienvenido a</span>
        <h1>Gestion de Infraestructura</h1>
    </div>
    
    <div class="contenedor-contenido">
        <div class="cuadrado">
            <button>
                <span class="texto">Activo</span>
                <span class="tooltip">Gestión de los activos</span>
            </button>
            <div class="dropdown-menu">
                <a [routerLink]="['/menu', 'ver-activos']">Ver Activos</a>
                <a [routerLink]="['/menu', 'crear-activo']">Crear Activo</a>
            </div>
        </div>

        <div class="cuadrado">
            <button>
                <span class="texto">Sectores</span>
                <span class="tooltip">Gestion de los sectores</span>
            </button>
            <div class="dropdown-menu">
                <a [routerLink]="['/menu', 'ver-sectores']">Ver Sectores</a>
                <a [routerLink]="['/menu', 'crear-sector']">Crear Sector</a>
            </div>
        </div>
        <div class="cuadrado">
            <button>
                <span class="texto">Edificio</span>
                <span class="tooltip">Gestion de los edificios</span>
            </button>
            <div class="dropdown-menu">
                <a [routerLink]="['/menu', 'ver-edificios']">Ver Edificios</a>
                <a [routerLink]="['/menu', 'crear-edificio']">Crear Edificio</a>
            </div>
        </div>
        <div class="cuadrado">
            <button>
                <span class="texto">Piso</span>
                <span class="tooltip">Gestion de los pisos</span>
            </button> 
            <div class="dropdown-menu">
                <a [routerLink]="['/menu', 'ver-pisos']">Ver Pisos</a>
                <a [routerLink]="['/menu', 'crear-piso']">Crear Piso</a>
            </div>
        </div>
        <div class="cuadrado">
            <button>
                <span class="texto">Ubicación</span>
                <span class="tooltip">Gestion de las ubicaciones</span>
            </button> 
            <div class="dropdown-menu">
                <a [routerLink]="['/menu', 'ver-ubicaciones']">Ver Ubicaciones</a>
                <a [routerLink]="['/menu', 'crear-ubicacion']">Crear Ubicación</a>
            </div>
        </div>
    </div>
</div>