<div class="dashboard">
    <div class="welcome">
        <span>Bienvenido a</span>
        <h1>Gestion de Infraestructura</h1>
    </div>
    
    <div class="contenedor-contenido">
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'activos']"  routerLinkActive="active">
                <span class="texto">Activo</span>
                <span class="tooltip">Gestion de los activos</span>
            </button>
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'ordenes']"  routerLinkActive="active">
                <span class="texto">Sectores</span>
                <span class="tooltip">Gestion de los sectores</span>
            </button>
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'ordenes']"  routerLinkActive="active">
                <span class="texto">Edificio</span>
                <span class="tooltip">Gestion de los edificios</span>
            </button> 
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'ordenes']"  routerLinkActive="active">
                <span class="texto">Piso</span>
                <span class="tooltip">Gestion de los pisos</span>
            </button> 
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'ordenes']"  routerLinkActive="active">
                <span class="texto">Ubicación</span>
                <span class="tooltip">Gestion de las ubicaciones</span>
            </button> 
        </div>
    </div>
</div>