<div class="dashboard">
  <div class="welcome">
        <h2>Bienvenido, {{ nombreOperario }}</h2>
  </div>
  <div class="contenedor-contenido">
      <div class="cuadrado">
          <button [routerLink]="['/vistaUsuario', operarioId, 'ordenesOperario']" routerLinkActive="active">
              <span class="texto">Ordenes</span>
              <span class="tooltip">Ver las ordenes</span>
          </button>
      </div>
      <div class="cuadrado">
          <button [routerLink]="['/menu', 'ordenes-pendientes']"  routerLinkActive="active">
              <span class="texto">Ordenes pendientes</span>
              <span class="tooltip">Ver lista de las ordenes pendientes</span>
          </button>
      </div>
      <div class="cuadrado">
          <button [routerLink]="['/menu', 'generar-orden']"  routerLinkActive="active">
              <span class="texto">Generar orden</span>
              <span class="tooltip">Crea una nueva orden de trabajo</span>
          </button> 
      </div>
  </div>
</div>