<div class="titulo">
    <h1>UTN Mantenimiento</h1>
    <span>Enfocado en la resolución rápida de problemas.</span>
    <div class="descripcion-contenedor">
        <div class="cuadrado-contenedor">
            <div class="cuadrado-first">
                <div class="contenido">
                    <app-svg-checklist></app-svg-checklist>
                    <div class="texto">
                        <span>Crea y gestiona órdenes en un clic.</span>
                    </div>
                </div>    
            </div>
            <div class="cuadrado-mid">
                <div class="contenido">
                    <app-svg-checklist></app-svg-checklist>
                    <div class="texto">
                        <span>Consulta el historial de cada servicio.</span>
                    </div>
                </div>    
            </div>
            <div class="cuadrado-last">
                <div class="contenido">
                    <app-svg-checklist></app-svg-checklist>
                    <div class="texto">
                        <span>Planificación Eficiente</span>
                    </div>
                </div>    
            </div>
        </div> 
    </div>
</div>