<div class="operario-contenedor">
  <button class="btn-atras" [routerLink]="['/menu/operarios']">Atrás</button>
  <div class="contenedor">
      <div class="welcome">
          <span>Complete los datos</span>
          <h1>Crear Operario</h1>
      </div>  
      <div class="card">
          <form class="formulario">
              <div class="operario">
                  <label for="nombre">Ingresar nombre</label>
                  <input type="text" id="nombre" name="nombre"
                      [(ngModel)]="nuevoOperarioData.name" required />
                  <label for="nombre">Ingresar email</label>
                  <input type="text" id="email" name="email"
                      [(ngModel)]="nuevoOperarioData.email" required />
                  <label for="nombre">Ingresar contraseña</label>
                  <input type="text" id="password" name="password"
                      [(ngModel)]="nuevoOperarioData.password" required />
              </div>
              <button (click)="crearOperario()">Crear</button>
          </form>
      </div>
  </div>
</div>
