.borde {
    border: 1px solid #060640;
    padding: 5px;
}

.contenedor {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plantilla {
    background-color: transparent;
    border: 2px solid black;
    height: 1080px;
    width: 780px;
}

.encabezado {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    h1 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5px;
        font-weight: 400;
    }
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgba(26, 27, 31, 0.12);
    border: 2px solid black;
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    border: 2px solid black;
    margin-left: 5px;
}

.imagen img {
    height: 100px;
    width: 100px;
}

.datos {
    display: flex;
    width: 95%;
    margin-left: 15px;
    margin-bottom: 7px;
    height: 24px;
}

.ot, .num {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.ot {
    width: 45%;
    background-color: rgba(26, 27, 31, 0.12);
    justify-content: flex-end;
    border: 1px solid black;
    span {
        margin-right: 5px;
    }
}

.num {
    width: 55%;
    background-color: rgba(26, 27, 31, 0.12);
    border: 1px solid black;
    span {
        margin-left: 5px;
    }
}

.tareas {
    display: flex;
    width: 97%;
    background-color: rgba(26, 27, 31, 0.12);
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    
}

.instrucciones {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 15px; 
}

.instruccion {
    display: flex;
    width: 96%;
    margin-left: 15px; 
}

.descripciones {
    width: 93%; 
    justify-content: flex-end;
    border: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    span {
        margin-left: 2px;
    }
}

.pasos {
    display: flex;
    width: 44px;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}   

.head {
    display: flex;
    margin-left: 15px;
}

.container-fecha {
    display: flex;
}

.fecha {
    height: 25px;
    display: flex;
    margin-left: 15px;
    width: 42%;
    background-color: rgba(26, 27, 31, 0.12);
    border: 1px solid black;
    align-items: center;
    span {
        display: flex;
        margin-left: 10px;
    }
}

.fecha-realizacion {
    height: 25px;
    display: flex;
    width: 53%;
    border: 1px solid black;
    align-items: center;
    span {
        display: flex;
        margin-left: 10px;
    }
}

.tiempo {
    margin-top: 5px;
    height: 25px;
    display: flex;
    margin-left: 15px;
    width: 42%;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    span {
        display: flex;
        margin-left: 10px;
    }
}

.observaciones {
    display: flex;
    border: 1px solid black;
    width: 95%;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 7px;
    height: 300px;
    span {
        margin-left: 10px;
    }
}

.tarea_operario {
    display: flex;
    width: 53%;
    span {
        margin-left: 8px;
    }
}

.tarea_controlada {
    display: flex;  
    span {
        margin-left: 8px;
    }
}

.controlada {
    width: 45%;
    background-color: rgba(26, 27, 31, 0.12);
    justify-content: flex-end;
    border: 1px solid black;
    span {
        margin-left: 8px;
    }
}
.operario {
    margin-top: 5px;
    height: 25px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    width: 55%;
}
.admin {
    margin-top: 5px;
    height: 25px;
    display: flex;
    border: 1px solid black;
    background-color: rgba(26, 27, 31, 0.12);
    align-items: center;
    width: 14%;
    span {
        margin-left: 5px;
    }
}

.realizada {
    margin-top: 5px;
    height: 25px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    width: 55%;
}

.control {
    width: 55%;
    background-color: rgba(26, 27, 31, 0.12);
    justify-content: flex-end;
    border: 1px solid black;
    span {
        margin-left: 8px;
    }
}
.fecha_control{
    margin-top: 5px;
    height: 25px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    width: 50%;
}

.operario {
    margin-top: 5px;
    height: 25px;
    display: flex;
    border: 1px solid black;
    background-color: rgba(26, 27, 31, 0.12);
    align-items: center;
    width: 50%;
    span {
        margin-left: 5px;
    }
}

.btn-imprimir button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 150px;
    margin-top: 15px;
    background: #060640;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 0.3s ease;
}

.btn-imprimir button:hover {
    background: #1a1a7f;
    cursor: pointer;
}

@media print {
    @page {
        margin: 0;
        size: A4
      }

    .contenedor {
      margin: 0 auto;
      height: 100%; 
    }
    
    .btn-imprimir {
       display: none;
    }
    .plantilla {
        width: 100%;
        height: 277mm;
        box-sizing: border-box;
        overflow: hidden;
        page-break-after: always; 
    }
    body {
        margin: 0;
    }

}