    <div class="borde">
        <div class="contenedor">
            <div class="plantilla" *ngIf="ordenes">
                <div class="margen">
                    <header class="encabezado">
                        <div class="titulo">
                            <h1>Orden de Trabajo de Mantenimiento {{ordenes.tipo_ot_id}}</h1>
                        </div>
                        <div class="imagen">
                            <img src="/images/utn-logo-ot.png" alt="">
                        </div>
                    </header>
            
                    <div class="datos">
                        <div class="ot"><span>OT N°</span></div>
                        <div class="num"><span>{{ordenes.numero_de_orden}}</span></div>
                    </div>
            
                    <div class="datos">
                        <div class="ot"><span>Código Único de Identificación de Activo:</span></div>
                        <div class="num"><span>{{ordenes.codigo_concatenado}}</span></div>
                    </div>
            
                    <div class="datos">
                        <div class="ot"><span>Tipo de Activo:</span></div>
                        <div class="num"><span>{{ordenes.activo_nombre}}</span></div>
                    </div>
            
                    <div class="datos">
                        <div class="ot"><span>Edificio:</span></div>
                        <div class="num"><span>{{ ordenes.edificio_id }}</span></div>
                    </div>
            
                    <div class="datos">
                        <div class="ot"><span>Piso / Nivel:</span></div>
                        <div class="num"><span>{{ ordenes.piso_id }}</span></div>
                    </div>
            
                    <div class="datos">
                        <div class="ot"><span>Sector:</span></div>
                        <div class="num"><span>{{ ordenes.sector_id }}</span></div>
                    </div>
            
                    <div class="instrucciones">
                        <div class="head">
                            <div class="tareas"><span>Instrucciones de la tarea</span></div>
                        </div>
                        <ng-container *ngFor="let desc of descripcionDelActivo; let i = index">
                            <div class="instruccion">
                                <div class="pasos">{{ i + 1 }}</div>
                                <div class="descripciones"><span>{{ desc }}</span></div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="container-fecha">
                        <div class="fecha">
                            <span>Fecha Impresión: {{ fechaCreacion }}</span>
                        </div>
                        <div class="fecha-realizacion">
                            <span>Fecha de realización:</span>
                        </div>
                    </div>
            
                    <div class="container-fecha">
                        <div class="tiempo">
                            <p> La tarea fue realizada en: {{ tiempoTranscurrido }} minutos</p>
                          </div>
                        <div class="tarea_operario">
                            <div class="realizada">
                                <span>Tarea Realizada por:</span>
                            </div>
                            <div class="operario">
                                <span>{{ordenes.usuario_id}}</span>
                            </div>
                        </div>
                    </div>
            
                    <div class="observaciones">
                        <span>Observaciones: {{ ordenes.observacion }}</span>
                    </div>
            
                    <div class="datos">
                        <div class="controlada">
                            <span>Tarea Controlada por:</span>
                        </div>
                        <div class="control">
                            <span>Fecha de Control:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-imprimir">
                <button (click)="print()">Imprimir</button>
            </div>
        </div>
    </div>

