.footer {
    display: flex;
    width: 100%;
    background-color: #060640;
    border-left: 1px solid #ecf9ff;
    border-right: 1px solid #ecf9ff;
    border-bottom: 1px solid #ecf9ff;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1320px;
    max-width: clamp(320px, 90%, 1400px);
    padding: 0 20px;
    margin: 25px auto;
}

.sides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side, .right-side {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ecf9ff;
    display: flex;
    flex-direction: column; 
    font-size: 15px;
    
}
.left-side {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    text-align: right; 
    margin-left: auto; 
    margin-right: 10px;
}

img {
    max-width: 100%;
    height: auto; 
    margin-top: 18px;
    margin-bottom: 0px;

}
.right-side {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left; 
    margin-left: 10px; 
    margin-right: auto; 
}

.right-side h2 {
    font-size: 14px;
    font-weight: 400;
}

.copyright {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ecf9ff;
    color: #ecf9ff;
    text-align: center;
    margin-top: 20px; 
    font-size: 14px;
    justify-content: center;
    
    h2 {
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 0px;
    } 

}



