<footer class="footer">
    <div class="container">
        <div class="sides">
            <div class="left-side">
               <img src="/images/logo-header.webp" alt="logo-footer">
            </div>
            <div class="right-side">
            <h2>Laprida 651 <br>
                (03462) 431013 / 425534<br>
                15:00 Hs. A 22:00 Hs.</h2>
            </div>
        </div>    
        <div class="copyright">
            <h2>UTN Mantenimiento © 2024. Todos los derechos reservados</h2>
            <span>Venado Tuerto Santa Fe Argentina</span>
        </div>
    </div>
</footer>
