<div class="contenedor">
    <form class="formulario">
        <div class="informacion">
            <label>Tarea</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Código Único</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Ubicación</label>
            <select [(ngModel)]="ubicaciones" name="operario" required>
                <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
                    {{ ubicacion.ubicacion }}
                </option>
            </select>
            <label>Edificio</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Sector</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Piso</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label for="operario">Operario</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Observacion</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
            <label>Tipo de Orden</label>
            <select [(ngModel)]="ordenData.usuario_id" name="operario" required>
                <option *ngFor="let operario of operarios" [value]="operario.id">
                    {{ operario.nombre }}
                </option>
            </select>
        </div>
        <button (click)="crearOrdenDeTrabajo()">Crear Orden</button>
    </form>
</div>
