<div class="contenedor">
    <form class="formulario">
        <h1>Generar Orden de Trabajo</h1>
        <div class="informacion">
            <app-activo
            [activos]="activos"
            ></app-activo>

            <app-edificio
            [edificios]="edificios"
            ></app-edificio>
        
            <app-piso
            [pisos]="pisos"
            ></app-piso>

            <app-sector
            [sectores]="sectores"
            ></app-sector>

            <app-ubicacion
            [ubicaciones]="ubicaciones"
            ></app-ubicacion>

            <app-operarios
            [operarios]="operarios"
            ></app-operarios>

            <app-tipo-ot
            [tiposOt]="tiposOt"
            ></app-tipo-ot>

            <app-observacion
            [observacion]="observacion"
            ></app-observacion>
            
            <button (click)="crearOrdenDeTrabajo()">Crear Orden</button>
        </div>     
    </form>
    <!-- <div>
        <ul *ngFor="let orden of ordenData">
            <li>
                {{orden.activo_tarea_descrip_id}}
                {{getEdificioNombre(orden.edificio_id)}}
                {{getPisoNombre(orden.piso_id)}}
            </li>
        </ul>
        <button (click)="obtenerOrdenes()">sadsadsa</button>
    </div> -->
</div>
