<section class="login">
    <h1>Bienvenido</h1>
    <p>Por favor ingrese su email y contraseña</p>
    <div>
        <form class="formulario">
            <div class="email">
                <label>Email</label>
                <input type="email" id="email" name="email" placeholder="Email"
                    [(ngModel)]="loginData.email" required />
            </div>
            <div class="pass">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Introduzca la contraseña"
                    [(ngModel)]="loginData.password" required />
            </div>
            <span>Olvidó su contraseña?</span>
            <button (click)="login()">Iniciar Sesión
                <svg width="14" height="14" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.00195 1.39062L5.40207 2.79075L4.00195 4.19086" stroke="white" stroke-width="0.415192" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.48047 2.79077H5.36251" stroke="white" stroke-width="0.415192" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
            </button>
        </form>
    </div>
</section>
