<div class="container">
    <div class="menu-contenedor">
        <div class="menu-titulo">
            <app-svg-llave></app-svg-llave>
            <h1>Menu</h1>
        </div>
        <div class="navegacion">
            <button [routerLink]="['/menu', 'dashboard']" class="btn-navegacion fade-in">
                <app-svg-dashboard></app-svg-dashboard>
                Dashboard</button>
                <button [routerLink]="['/menu', 'infraestructura']" class="btn-navegacion fade-in">
                   <app-svg-infraestructura></app-svg-infraestructura>
                    Infraestructura</button>
            <button [routerLink]="['/menu', 'operarios']" class="btn-navegacion fade-in">
                <app-svg-operarios></app-svg-operarios>
                Operarios</button>
            <button class="btn-navegacion fade-in">
                    <app-svg-configuracion></app-svg-configuracion>
                Configuración</button>
            <button (click)="logout()" class="btn-navegacion fade-in">Cerrar sesión</button>
        </div>
    </div>
    <div class="contenido">
        <div class="menu-contenido">
            <router-outlet></router-outlet>
        </div>
    </div>
   
</div>
