<div class="contenedor">
  <div class="centro">
    <app-svg-header></app-svg-header>
    <div class="header">
      <div class="welcome">
        <h1>Bienvenido</h1>
        <span>{{ nombreOperario }}</span>
     </div>
     <div class="campana">
      <app-svg-campana></app-svg-campana>
     </div>
  </div>
  <div class="medio">
    <div class="mensaje">
      <span>¿Qué desea hacer hoy?</span>
    </div>
  </div>
  <div class="botones">
    <app-vista-ordenes></app-vista-ordenes>
    <app-vista-infraestructura></app-vista-infraestructura>
    <app-vista-operarios></app-vista-operarios>
  </div>
    <app-svg-footer></app-svg-footer>
  </div>
</div>