<div class="left-side">
    <button class="btn-home" [routerLink]="['/ordenes']">
        Gestion de Ordenes
    </button>
    <button class="btn-home" [routerLink]="['/sector']">
        Gestion de Sectores
    </button>
    <button class="btn-home" [routerLink]="['/edificios']">
        Gestion de Edificios
    </button>
    <button class="btn-home" [routerLink]="['/activos']">
        Gestion de Activos
    </button>
    <button class="btn-home" [routerLink]="['/piso']">
        Gestion de Piso
    </button>
    <button class="btn-home" [routerLink]="['/ubicacion']">
        Gestion de Ubicación
    </button>
</div>

