<button class="btn-home" mat-button [matMenuTriggerFor]="infraestructura">
  <app-svg-edificio></app-svg-edificio>
  Gestión Infraestructura</button>
  <mat-menu #infraestructura="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="activos">Activos</button>
    <button mat-menu-item [matMenuTriggerFor]="sectores">Sectores</button>
  </mat-menu>
<mat-menu #activos="matMenu">
    <button mat-menu-item [routerLink]="['/activos']">Ver activos</button>
    <button mat-menu-item [routerLink]="['/crear/activos']">Crear activo</button>
    <button mat-menu-item>Modificar activo</button>
    <button mat-menu-item>Eliminar activo</button>
</mat-menu>

<mat-menu #sectores="matMenu">
  <button mat-menu-item>Ver sectores</button>
  <button mat-menu-item>Crear sectores</button>
  <button mat-menu-item>Modificar sectores</button>
  <button mat-menu-item>Eliminar sectores</button>
</mat-menu>