<div class="dashboard">
    <div class="welcome">
        <span>Bienvenido a</span>
        <h1>Gestion de operarios</h1>
    </div>
    <div class="contenedor-contenido">
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'operarios']"  routerLinkActive="active">
                <span class="texto">Operarios</span>
                <span class="tooltip">Ver los operarios</span>
            </button>
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'operarios']"  routerLinkActive="active">
                <span class="texto">Crear operario</span>
                <span class="tooltip">Cree un usuario</span>
            </button>
        </div>
        <div class="cuadrado">
            <button [routerLink]="['/menu', 'operarios']"  routerLinkActive="active">
                <span class="texto">Eliminar operario</span>
                <span class="tooltip">Elimine a un operario</span>
            </button> 
        </div>
    </div>
</div>