<div class="informacion">
    <label>Activo</label>
    <select (change)="activo($event)" name="activo" required>
      <option value="0" disabled selected>Seleccione un activo</option>
      <option *ngFor="let activo of activos" [value]="activo.id">
        {{ activo.nombre }}
      </option>
    </select>
    <div *ngIf="descripcionDelActivo.length > 0" class="instrucciones-container">
      <h1>Instrucciones</h1>
      <div class="instrucciones-content">
        <ul>
          <li *ngFor="let desc of descripcionDelActivo">
            {{ desc }}
          </li>
        </ul>
      </div>
    </div>
  </div>