.informacion select {
    width: 100%;
    height: 28px;
    border-radius: 10px;    
    border: 1px solid #EAEBEC;
    margin-top: 5px;
    padding: 3px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #060640;
}
label {
    font-size: 14px;
}

.informacion select:hover {
    border-color: #060640; 
}

.instrucciones-container {
    border: 1px solid #060640;
    border-radius: 8px; 
    width: 100%; 
    background-color: #ecf9ff;
    margin-bottom: 10px;
        h1 {
            font-size: 16px;
            font-weight: 500;
            margin: 10px 0 10px 15px;
        }
}

.instrucciones-content {
    max-height: 200px;
    margin-left: 15px;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 14px;
    margin-top: 7px;
}
