<div class="card">
    <table class="orden-tabla">
        <thead>
            <tr>
                <th>Número de Orden</th>
                <th>Nombre del Activo</th>
                <th>Código Único</th>
                <th>Fecha de Creación</th>
                <th>Nombre del Piso</th>
                <th>Nombre del Edificio</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orden of ordenes">
                <td>{{ orden.numero_de_orden }}</td>
                <td>{{ orden.activo_nombre }}</td>
                <td>{{ orden.codigo_concatenado}}</td>
                <td>{{ orden.fecha_creacion_formateada }}</td>
                <td>{{ orden.piso_id }}</td>
                <td>{{ orden.edificio_id}}</td>
                <td><button (click)="verOrden(orden.id)">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>