.informacion select {
    width: 100%;
    height: 28px;
    border-radius: 10px;    
    border: 1px solid #EAEBEC;
    margin-top: 5px;
    padding: 3px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #060640;
}
label {
    font-size: 14px;
}
.informacion select:hover {
    border-color: #060640; 
}