/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
    app-header,
    app-footer-contenedor, 
    .toast-container,
    .menu-contenedor
    {
      display: none;
    }
}

